<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />	
	<title>about Peng Yang</title>

	<link rel="stylesheet" href="static/style.css" type="text/css" media="all" />
</head>
<body class="loading-process">
<div class="loading">
	<div class="loading-circle"></div>
	<div class="loading-info">Loading</div>
</div>
<div class="section-header">
	<div class="section">
		<nav class="nav" role="navigation">
			<ul>
				<li class="nav-about fade fade1"><a href="#about">about me</a></li>
				<li class="nav-contact fade fade2"><a href="#contact">Blog</a></li>				
			</ul>
		</nav>
	</div>
	<div class="nav-bg"></div>
</div>
<div class="home-bg">
	<img src="static/home-bg.jpg" alt="" width="1000" height="667">
</div>
<div class="section-wrap section-fristpage">
	<div class="section">
		<div class="section-content">
			<p class="fade fade1">Hi，I'm Peng Yang</p>
			<p class="fade fade2">Cease to struggle and you cease to live.</p>
			<p class="fade fade3">Carpe Diem ^_^</p>
		</div>
		<a href="#" class="scroll-tip fade fade4">向下滚动</a>
	</div>
</div>
<div id="about" class="section-wrap section-about">
	<div class="section">
		<div class="about-content clearfix section-content">
			<div class="left">
				<h1>About me</h1>
				<p class="fade fade1">Master degree of computer science from GWU</p>
				<p class="fade fade2">Experienced with web develop and iOS develop</p>
				<p class="fade fade3">Heavy addition of Manchester United</p>
				<p class="fade fade4">Love music and movie</p>
				<p class="fade fade5">Enjoying my life</p>
				<p class="fade fade6">Next stop: Finding somewhere I can put my strength on</p>
				<p class="fade fade7">Feel free to contact me at pyang926@gmail.com</p>
			</div>
			{% load staticfiles %}
			<div class="right">
				<img class="my-photo fade fade4" src="{% static "beijing.jpg" %}" alt="" width="335" height="502">
			</div>
		</div>
	</div>
</div>


<div class="overlay"></div>
<div class="state-indicator"></div>

<script type="text/javascript" src="static/js/jquery-1.9.1.min.js"></script>
<script src="static/js/global.js"></script>

</body>
</html>
