{% extends "base.html" %}
{% block content %}

<div class="posts">
    {% if error %}
        <h2 class = "post-title"> No Related Articles </h2>
    {% else %}
    {% for article in articles %}
        <section class="post">
            <header class="post-header">
            	<!-- {% load staticfiles %}
            	<img class="post-avatar" alt="PengYang" height="48" width="48" src="{% static "pengyang.png" %}"> -->
                <h2 class="post-title">
                	<a href="/content/?id={{article.id}}">{{ article.title }}</a>
                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ article.update_date }}</a>
                    </p>
            </header>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
{% endif %}
{% endblock %}