{% extends "base.html" %}
{% load custom_markdown %}
{% load disqus_tags %}
{% block content %}
<div class="posts">
        <section class="post">
            <header class="post-header">
            	{% load staticfiles %}
            	<img class="post-avatar" alt="PengYang" height="48" width="48" src="{% static "pengyang.png" %}">
                <h2 class="post-title">
                	{{ article.title }}</h2>
                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ article.update_date }}</a> 
                        {% for tag in tags %}
                        <a class="post-category post-category-js" href="/searchtag/?id={{tag.id}}">{{ tag.tag_name }}</a>
                        {% endfor %}
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ article.description|custom_markdown }}
                    </p>
                </div>
                <div class="post-description">
                    <p>
                        {{ article.content|custom_markdown }}
                    </p>
                </div>

        </section>
        {% disqus_show_comments %}
</div><!-- /.blog-post -->
{% endblock %}